<section id="bestsellers" class="bestsellers">
  <div class="container">
    <h2 class="bestsellers__title">Наші бестселери</h2>

    <div class="bestsellers-swiper">
      <div class="swiper-button swiper-button-next">
        <svg class="swiper-arrow-icon">
          <use href="./images/icons.svg#arrow-right"></use>
        </svg>
      </div>
      <div class="swiper-button swiper-button-prev">
        <svg class="swiper-arrow-icon">
          <use href="./images/icons.svg#arrow-left"></use>
        </svg>
      </div>

      <div class="swiper-pagination bestsellers__dots"></div>

      <div class="swiper bestsellers__swiper">
        <ul class="swiper-wrapper" id="bestsellersTrack"></ul>
      </div>
    </div>
  </div>
</section>
