<section id="dessert-list" class="dessert-list">
  <div class="container dessert-list__container">
    <div class="dessert-filters-container">
      <div class="dessert-list__text-box">
        <h2 class="dessert-list__title">Солодощі</h2>
        <p class="dessert-list__subtitle">
          Спробуйте наші смачні десерти, які вас здивують!
        </p>
      </div>

      <div class="dessert-filters">
        <button
          type="button"
          class="dessert-filters__select-btn"
          id="dessert-dropdown-btn"
        >
          <span id="selected-category-name">Всі десерти</span>
          <svg
            class="dessert-filters__arrow-icon"
            width="24"
            height="24"
            aria-hidden="true"
          >
            <use href="./images/icons.svg#arrow-down"></use>
          </svg>
        </button>

        <ul class="dessert-filters__list" id="dessert-categories-list"></ul>
      </div>
    </div>

    <ul class="dessert-gallery"></ul>

    <button type="button" class="dessert-list__load-more-btn is-hidden">
      Завантажити ще
    </button>

    <div id="loader" class="loader is-hidden"></div>
  </div>
</section>
