<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@14.0.1/swiper-bundle.min.css"
/>

<section class="feedback">
  <div class="container">
    <h1 class="feedback-title">Відгуки клієнтів</h1>
    <p class="feedback-subtitle">
      Найкращі десерти, які я коли-небудь куштував!
    </p>

    <div class="swiper mySwiper">
      <div class="swiper-wrapper"></div>

      <div class="swiper-button swiper-button-next">
        <svg class="swiper-arrow-icon">
          <use href="./images/icons.svg#arrow-right"></use>
        </svg>
      </div>
      <div class="swiper-button swiper-button-prev">
        <svg class="swiper-arrow-icon">
          <use href="./images/icons.svg#arrow-left"></use>
        </svg>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@14.0.1/swiper-bundle.min.js"></script>
