<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a href="./index.html" class="header-nav-logo" aria-label="Home">
        <svg class="header-logo-icon" width="150" height="64">
          <use href="./images/icons.svg#company-logo"></use>
        </svg>
      </a>

      <button
        class="header-menu-toggle"
        type="button"
        aria-label="Open menu"
        aria-expanded="false"
        aria-controls="navbar"
      >
        <span></span>
        <span></span>
        <span></span>
      </button>

      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="#dessert-list" class="header-nav-link">Солодощі</a>
        </li>
        <li class="header-nav-item">
          <a href="#about-us" class="header-nav-link">Про нас</a>
        </li>
        <li class="header-nav-item">
          <a href="#feedback" class="header-nav-link">Відгуки</a>
        </li>
        <li class="header-nav-item">
          <a href="#faq" class="header-nav-link">Часті питання</a>
        </li>
      </ul>

      <a href="#dessert-list" class="header-btn header-btn-order">До покупок</a>
    </nav>
  </div>
</header>
