<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="./index.html" class="nav-logo" aria-label="Home">
        <svg class="logo-icon">
          <use href="/src/images/icons.svg#company-logo"></use>
        </svg>
      </a>

      <button
        class="menu-toggle"
        type="button"
        aria-label="Open menu"
        aria-expanded="false"
        aria-controls="navbar"
      >
        <span></span>
        <span></span>
        <span></span>
      </button>

      <ul class="nav-list">
        <li class="nav-item">
          <a href="#dessert-list" class="nav-link">Солодощі</a>
        </li>
        <li class="nav-item">
          <a href="#about-us" class="nav-link">Прог нас</a>
        </li>
        <li class="nav-item">
          <a href="#feedback" class="nav-link">Відгуки</a>
        </li>
        <li class="nav-item">
          <a href="#faq" class="nav-link">Часті питання</a>
        </li>
      </ul>

      <a href="#dessert-details-modal" class="btn">До покупок</a>
    </nav>
  </div>
</header>
