<div class="navbar" data-navbar>
  <div class="container">
    <a href="./index.html" class="navbar-logo" aria-label="Home">
      <svg class="logo-icon">
        <use href="/src/images/icons.svg#company-logo"></use>
      </svg>
    </a>

    <nav class="navbar-nav">
      <ul class="navbar-list">
        <li class="navbar-item">
          <a href="#dessert-list" class="navbar-link">Солодощі</a>
        </li>
        <li class="navbar-item">
          <a href="#about-us" class="navbar-link">Про нас</a>
        </li>
        <li class="navbar-item">
          <a href="#feedback" class="navbar-link">Відгуки</a>
        </li>
        <li class="navbar-item">
          <a href="#faq" class="navbar-link">Часті питання</a>
        </li>
      </ul>
    </nav>
    
    <a href="#dessert-list" class="btn navbar-order">До покупок</a>
  </div>
</div>
