:root {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;

  color: #080c0c;
  background-color: #f5fdfd;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}
