.feedback {
  padding-block: 64px;
}

.feedback .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback .feedback-title {
  padding-bottom: 24px;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #080c0c;
}

.feedback .feedback-subtitle {
  padding-bottom: 40px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #080c0c;
}

.feedback .feedback-swiper {
  position: relative;
  width: 100%;
}

.feedback .swiper {
  width: 100%;
  position: relative;
  padding-bottom: 80px;
}

.feedback .swiper-slide {
  display: flex;
  flex-direction: column;
  text-align: left;
  background: #f5fdfd;
  color: #080c0c;
  justify-content: space-between;
  align-items: flex-start;
  border: 2px solid #080c0c;
  border-radius: 16px;
  padding: 32px;
  min-height: 208px;
}

.feedback .swiper-button::after {
  display: none;
}

.feedback .swiper-button {
  width: 48px;
  height: 48px;
  top: auto;
  bottom: 0;
  margin: 0;
  border: 2px solid #080c0c;
  border-radius: 100px;
  background-color: #f5fdfd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback .swiper-button:hover {
  background: #f19898;
}

.feedback .swiper-button:active {
  background: #c07979;
}

.feedback .swiper-button:disabled {
  background: #f5fdfd;
  opacity: 0.2;
  cursor: default;
}

.feedback .swiper-button-prev {
  left: auto;
  right: 64px;
}

.feedback .swiper-button-next {
  right: 0;
}

.feedback .swiper-arrow-icon {
  width: 24px;
  height: 24px;
  fill: #080c0c;
}

.feedback .swiper-pagination {
  position: absolute;
  right: auto !important;
  bottom: 20px !important;
  width: 88px !important;
  height: 8px;
  display: block;
  z-index: 10;
}

.feedback .swiper-pagination-bullet {
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  margin: 0 !important;
  opacity: 0.2;
  border-radius: 50%;
  background: #080c0c;
  transition:
    transform 500ms ease,
    opacity 500ms ease;
}

.feedback .swiper-pagination-bullet-active {
  opacity: 1;
}

.feedback .rating {
  width: fit-content;
}

.feedback .star-container {
  display: flex;
  gap: 4px;
  margin-inline: 0;
}

.feedback .star {
  width: 20px;
  height: 19px;
  flex-shrink: 0;
  overflow: visible;
}

.feedback .star use {
  transform: scale(1.032);
  transform-box: fill-box;
  transform-origin: center;
}

.feedback .feedback-description {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #080c0c;
}

.feedback .feedback-author {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #080c0c;
}

.feedback .loader {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 768px) {
  .feedback .swiper-slide {
    min-height: 233px;
    padding: 16px;
  }

  .feedback .swiper-button {
    top: calc((100% - 80px) / 2) !important;
    bottom: auto;
    transform: translateY(-50%);
  }

  .feedback .swiper-button-prev {
    left: -28px;
    right: auto;
  }

  .feedback .swiper-button-next {
    right: -28px;
  }

  .feedback .swiper-pagination {
    left: 50% !important;
    transform: translateX(-50%);
  }
}

@media only screen and (min-width: 1440px) {
  .feedback {
    padding-block: 80px;
  }

  .feedback .swiper-slide {
    padding: 32px;
  }
}
